<div class="dot-container">
    <div class="big-red-dot"></div>

</div>

<section class="primary-color">

    <div class="profile-pic-container">
        <div class="profile-pic"> </div>
    </div>

    <div class="right-side">

        <div class="hello">
            <h2 class="fontMontserrat">Hello! I am Oliver</h2>
            <h1 class="fontBaloo"> FRONTEND </h1>
            <h1 class="fontBaloo"> DEVELOPER </h1>
        </div>

        <div class="scroll-and-icons">
            <div class="scroll">
                <span class="fontMontserrat scroll-text"> SCROLL</span>
                <div class="red-line"></div>
            </div>

            <div class="icons">
                <img class="icon" src="../../assets/img/icons/red/git-red.svg" alt="github-link">
                <img class="icon" src="../../assets/img/icons/red/mail-red.svg" alt="email-link">
                <img class="icon" src="../../assets/img/icons/red/linkedin-red.svg" alt="linkedin-link">
            </div>
        </div>

    </div>

</section>