<footer>

    <div class="left-side">
        <img src="../../assets/img/icons/white/logo.svg" alt="">
    </div>

    <div class="center fontMontserrat">
        <h1> © Oliver Härle 2023</h1>
        <p> Impressum </p>
    </div>

    <div class="right-side">
        <div class="img-container">
            <img src="../../assets/img/icons/white/git-white.svg" alt="">
            <img src="../../assets/img/icons/white/mail-white.svg" alt="">
            <img src="../../assets/img/icons/white/linkedin-white.svg" alt="">
        </div>
    </div>

</footer>