<footer>

    <div class="left-side">
        <img class="logo" src="../../assets/img/icons/white/logo-white.svg" alt="">
    </div>

    <div class="center fontMontserrat">
        <h1> © Oliver Härle 2024</h1>
    </div>

    <div class="right-side">
        <div>
            <a href="https://github.com/OliverHaerle" target="_blank"><img src="../../assets/img/icons/white/git-white.svg" alt=""></a>
            <a href=mailto:Oliver.haerle@outlook.com><img src="../../assets/img/icons/white/mail-white.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/oliver-h%C3%A4rle-3b182b295" target="_blank"><img src="../../assets/img/icons/white/linkedin-white.svg" alt=""></a>
        </div>
    </div>

</footer>