<footer>

    <div class="left-side">
        <img src="../../assets/img/icons/white/logo.svg" alt="">
    </div>

    <div class="center fontMontserrat">
        <h1> © Oliver Härle 2023</h1>
        <p> Impressum </p>
    </div>

    <div class="right-side">
        <div class="img-container">
            <a href="https://github.com/OliverHaerle" target="_blank"><img src="../../assets/img/icons/white/git-white.svg" alt=""></a>
            <a href="#contact"><img src="../../assets/img/icons/white/mail-white.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/oliver-h%C3%A4rle-3b182b295" target="_blank"><img src="../../assets/img/icons/white/linkedin-white.svg" alt=""></a>
        </div>
    </div>

</footer>