$primary-color: #FF5959;
$ending-color-dot: #DE0000;

footer {
    height: 40vh;
    background: linear-gradient(135deg, $primary-color, 70%, $ending-color-dot);
    display: flex;
    color: white;
    position: relative;
    overflow: hidden;

    img {
        height: 270px;
    }
}

.left-side,
.center,
.right-side {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    flex-direction: column;
    gap: 10%;

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }
}

.right-side {

    div {
        display: flex;
        gap: 48px;

        img {
            height: 40px;
            width: 40px;
            transition: all 100ms ease-in-out;

            &:hover {
                transform: scale(1.4);
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 910px) {
    footer {
        flex-direction: column;
        align-items: center;

        .logo {
            position: absolute;
            left: 0;
            height: 100%;
            left: -8%;
            top: -25%;
            opacity: 30%;
        }
    }

    h1 {
        text-align: center;
    }

    .center {
        width: 100%;
    }
}

@media (max-width: 580px) {
    footer {
        .logo {
            height: 200px;
            left: calc(50% - 100px);
            top: -12%;
        }
    }
}