<section>

    <h1 class="fontBaloo"> Let's work together </h1>

    <div class="text-and-button">
        <p class="fontMontserrat"> I am a front-end developer based in Granada, Spain. I want to help designers and
            companies bring their ideas to life. I am looking forward to starting my developer career with a job in a
            junior web developer postion. <br><br> If you think I'd be a good match for your projects - contact me!</p>

        <button class="fontMontserrat">
            <span>Send a message</span>
        </button>
    </div>


</section>
