<section>

    <div class="img-container">
        <a target="_blank" href={{livelink}}>
            <img src="../../assets/img/project-screenshots/dex-laptop.png">
        </a>
    </div>

    <div class="description">
        <h2 class="fontBaloo"> Pokédex </h2>
        <h3 class="fontMontserrat"> JavaScript | HTML | CSS | Api</h3>
        <p class="fontMontserrat"> A Pokémon library using the PokéAPI. Discover Pokémon's abilities, stats, and more
            information</p>
        <div class="button-container">
            <a href="https://github.com/OliverHaerle/Pok-dex---final" target="_blank"><button> Github </button></a>
            <a href="{{livelink}}" target="_blank"><button>Live test</button></a>
        </div>
    </div>

    <div class="dot1">
        <div></div>
    </div>

</section>