<section>

    <div class="img-container">
        <img src="../../assets/img/project-screenshots/dex-laptop.png">
    </div>

    <div class="description">
        <h2 class="fontBaloo"> Pokédex </h2>
        <h3 class="fontMontserrat"> JavaScript | HTML | CSS | Api</h3>
        <p class="fontMontserrat"> A Pokémon library using the PokéAPI. Discover Pokémon's abilities, stats, and more
            information</p>
        <div class="button-container">
            <a href="https://github.com/OliverHaerle/Pok-dex---final" target="_blank"><button> Github </button></a>
            <a href="https://oliver-haerle.developerakademie.net/Portfolio%20Projects/Pok%C3%A9dex%20-%20final/index.html"
                target="_blank"><button>Live test</button></a>
        </div>
    </div>

</section>