<section>
    <img class="logo" src="../../assets/img/icons/white/logo-white.svg">

    <div>
        <div class="links fontMontserrat">
            <div class="link-container"><a class="primary-color" href="#aboutme">About me</a></div>
            <div class="link-container"><a class="primary-color" href="#skillset">Skill set</a></div>
            <div class="link-container"><a class="primary-color" href="#mywork">My work</a></div>
        </div>

        <div class="burger">
            <img (click)="showMenu()" src="../../assets/img/icons/red/burger-menu.svg">
        </div>
    </div>

    <div id="burger-menu" class="fontMontserrat d-none">
        <div class="burger-menu-bar">
            <img src="../../assets/img/icons/red/logo-red.svg">
            <img (click)="showMenu()" src="../../assets/img/icons/red/burger-menu.svg">
        </div>
        <div class="mobile-menu">
            <a class="primary-color" (click)="showMenuDelayed()" href="#aboutme">About me</a>
            <a class="primary-color" (click)="showMenuDelayed()" href="#skillset">Skill set</a>
            <a class="primary-color" (click)="showMenuDelayed()" href="#mywork">My work</a>
            <a class="primary-color" (click)="showMenuDelayed()" href="#contact">Contact</a>
        </div>
    </div>

</section>