<section>
    <img class="logo" src="../../assets/img/icons/white/logo.svg">

    <div>
        <div class="links fontMontserrat">
            <a class="primary-color" href="#aboutme">About me</a>
            <a class="primary-color" href="#skillset">Skill set</a>
            <a class="primary-color" href="#mywork">My work</a>
        </div>

        <div class="burger">
            <img src="../../assets/img/icons/red/burger-menu.svg">
        </div>
    </div>

    <div onclick="showMenu()" class="mobile-menu fontMontserrat d-none">
        <a class="primary-color" href="#aboutme">About me</a>
        <a class="primary-color" href="#skillset">Skill set</a>
        <a class="primary-color" href="#mywork">My work</a>
        <a class="primary-color" href="#contact">Contact</a>
    </div>

</section>
