<section>

    <div class="img-container">
        <!-- <a href=""> -->
            <img src="../../assets/img/project-screenshots/pollo-laptop.png">
        <!-- </a> -->
    </div>

    <div class="description">
        <h2 class="fontBaloo"> El Pollo Loco </h2>
        <h3 class="fontMontserrat"> JavaScript | HTML | CSS </h3>
        <p class="fontMontserrat"> A simple jump'n'run game. Run, jump and throw salsa bottles to victory </p>

        <div class="button-container">
            <a href="https://github.com/OliverHaerle/El-Pollo-Loco---final" target="_blank"><button> Github
                </button></a>
            <a href="https://oliver-haerle.developerakademie.net/Portfolio%20Projects/El%20Pollo%20Loco%20-%20final/index.html"
                target="blank"><button>Live test</button></a>
        </div>

    </div>

</section>