<section>

    <a href={{liveLink}} target="_blank" class="img-container">
            <img src="../../assets/img/project-screenshots/pollo-laptop.png">
            <div class="dot2"></div>
        </a>

    <div class="description">
        <h2 class="fontBaloo"> El Pollo Loco </h2>
        <h3 class="fontMontserrat"> JavaScript | HTML | CSS </h3>
        <p class="fontMontserrat"> A simple jump'n'run game. Run, jump and throw salsa bottles to victory </p>

        <div class="button-container">
            <a href="https://github.com/OliverHaerle/El-Pollo-Loco---final" target="_blank"><button> Github
                </button></a>
            <a href={{liveLink}}
                target="blank"><button>Live test</button></a>
        </div>
    </div>

    <div class="dot1"></div>

</section>

