$primary-color: #FF5959;
$ending-color: #DE0000;

section {
    min-height: 50vh;
    display: flex;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}

.img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    height: 500px;
}

img {
    height: 500px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    z-index: 1;

    &:hover {
        transform: scale(1.2, 1.2);
    }
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20%;
}

h2 {
    color: $primary-color;
    font-size: 45px;
}

h3 {
    color: $primary-color;
    font-size: 23px;
}

p {
    border-radius: 8px;
    margin-top: 16px;
}

.button-container {
    display: flex;
    gap: 32px;

    button {
        margin-top: 24px;
        font-size: 28px;
        padding: 15px 30px;
        width: 200px;
        height: 65px;

        transition: all .3s;
        position: relative;
        color: $primary-color;
        background-color: white;
        border-radius: 10px;
        border: 2px solid $primary-color;
        gap: 10px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 5px 5px 15px 0px #00000026;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            bottom: -100%;
            left: -5%;
            width: 0;
            height: 0;
            background: linear-gradient(to bottom right, $primary-color 30%, $ending-color 100%);
            border-radius: 0px;
            z-index: -1;
        }

        &:hover {
            color: white;
            transform: scale(1.1, 1.1);
            border: none;

            &:before {
                height: 200%;
                width: 110%;
                transition: width .25s;
                transform-origin: right;
                transform: rotate(10deg);
            }
        }
    }
}

.dot1 {
    position: absolute;
    height: 50vh;
    width: 50vh;
    left: calc(100vw - 25vh);
    background: linear-gradient(135deg, $primary-color, 70%, $ending-color);
    border-radius: 100vw;
    z-index: -1;
}


@media (max-height: 750px) {
    img {
        height: 380px;
    }

    .dot1 {
        width: 30vh;
        height: 30vh;
        left: calc(100vw - 15vh);
    }
}

@media (max-width: 1485px) {
    img {
        height: 450px;

        &:hover {
            transform: translate(0, -40px) scale(1.1, 1.1);
        }
    }
}

@media (max-width: 1250px) {
    section {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 20px;
    }

    .img-container {
        width: 100%;
        margin-bottom: 5vh;

        img {
            height: 450px;

            &:hover {
                transform: translate(0) scale(1.1, 1.1);
            }
        }
    }

    .description {
        align-items: center;
        width: 100%;
        max-height: 290px;

        p {
            padding: 0 24px;
            text-align: center;
        }
    }

    .dot1 {

        div {
            height: 35vh;
            width: 35vh;
        }
    }
}

@media (max-width: 1160px) {
    .button-container {
        button {
            width: 150px;
            font-size: 20px;
        }
    }
}

@media (max-width: 620px) {
    .img-container {


        img {
            width: 90%;
            height: fit-content;

            &:hover {
                transform: translate(0) scale(1, 1);
            }
        }
    }
}

@media (max-width: 380px) {
    .description {
        h3 {
            font-size: 20px;
        }

        button {
            width: 130px;
            font-size: 16px;
        }
    }
}