$primary-color: #FF5959;
$ending-color-dot: #DE0000;


section {
    display: flex;
    align-items: center;
    height: 30vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
    margin-bottom: 120px;
}

.container {
    margin: 0 0 0 10%;
}

h1 {
    font-size: 80px;
    color: $primary-color;
}

p {
    font-size: 20px;
}

.dot1 {
    display: flex;
    justify-content: flex-end;

    div {
        height: 90px;
        width: 90px;
        background: linear-gradient(135deg, $primary-color, 70%, $ending-color-dot);
        border-radius: 100vw;
        z-index: -1;
    }
}


.dot2 {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    top: 15vh;
    right: 15%;

    div {
        height: 18vh;
        width: 18vh;
        background: linear-gradient(135deg, $primary-color, 70%, $ending-color-dot);
        border-radius: 100vw;
        z-index: -1;
    }
}

@media(max-width: 1220px) {
    .dot2 {
        right: 4%;
    }
}

@media(max-width: 1060px) {
    .dot2 {
        right: 10%;
        top: 35vh;

        div {
            height: 10vh;
            width: 10vh;
        }
    }
}

@media(max-width: 870px) {
    .dot1 {
        justify-content: center;
        div {
            margin-left: 40%;
        }
    }
}



@media(max-width: 360px) {
    h1 {
        font-size: 65px;
    }
}