$primary-color: #FF5959;
$ending-color-dot: #DE0000;


section {
    display: flex;
    align-items: center;
    height: 30vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
}

.container {
    margin: 0 0 0 10%;
}

h1 {
    font-size: 80px;
    color: $primary-color;
}

p {
    font-size: 20px;
}

.dot1 {
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: center;
    top: 0px;
    left: 5%;

    div {
        height: 80px;
        width: 80px;
        background: linear-gradient(135deg, $primary-color, 70%, $ending-color-dot);
        border-radius: 100vw;
        z-index: -1;
    }
}

@media(max-width: 850px) {
    .dot1 {
        left: 10%;
        div {
            height: 50px;
            width: 50px;
        }
    }
}

@media(max-width: 360px) {
    h1 {
        font-size: 65px;
    }
}