<h1 class="fontBaloo"> Contact </h1>

<section class="fontMontserrat">
    <div class="left-side">
        <h2> Got a problem to solve? </h2>
        <p> Contact me through this form. I am interested in hearing from you. </p>
        <p> Need a Frontend developer? <b> Contact me </b></p>
    </div>

    <form (submit)="sendMail()" ngNativeValidate #myForm>

        <div class="name-container">
            <input placeholder="Your name" type="text" name="name" required #nameField>
        </div>


        <div class="email-container">
            <input placeholder="Your email" type="email" name="email" required #emailField>
        </div>


        <div class="message-container">
            <textarea placeholder="Your message" type="text" name="message" required #messageField></textarea>
        </div>

        <button #button type="submit">Send message </button>
    </form>

</section>


<!-- @if(nameField.errors?.['required'] && nameField.touched) {
            <p> Field can't be empty </p>
            } -->


<!-- @if(emailField.errors?.['required'] && emailField.touched) {
            <p> Field can't be empty </p>
            }

            @if(emailField.errors?.['email'] && emailField.touched) {
            <p>Please enter a valid email </p>
            } -->


<!-- 
            @if(messageField.errors?.['required'] && messageField.touched) {
            <p> Field can't be empty </p>
            } -->