<h1 class="fontBaloo"> Contact </h1>

<section class="fontMontserrat">
    <div class="left-side">
        <h2> Got a problem to solve? </h2>
        <p> Contact me through this form. I am interested in hearing from you. <br><br> </p>
        <p class="red-p"> Need a Frontend developer? <b> Contact me </b></p>
    </div>

    <form (submit)="sendMail()" ngNativeValidate #myForm>

        <input class="name-container" placeholder="Your name" type="text" name="name" required #nameField>


        <input class="email-container" placeholder="Your email" type="email" name="email" required #emailField>


        <textarea class="message-container" placeholder="Your message" type="text" name="message" required
            #messageField></textarea>

        <div class="privacy-container">
            <div class="box-and-note">
                <img (click)="tickTheBox()" #box [src]="imageUrl">
                <span> I have read the <a><b> privacy policy</b></a> and agree to the processing of my data as outlined
                </span>
            </div>
            <span #privacyCheck class="d-none"> Please accept the privacy policy </span>
        </div>

        <button #button type="submit">Send message </button>
    </form>

    <div #contactMessage class="message">
        <span> Thank you for your message :) </span>
    </div>

</section>