<h1 class="fontBaloo"> Contact </h1>

<section class="fontMontserrat">
    <div class="left-side">
        <h2> Got a problem to solve? </h2>
        <p> Contact me through this form. I am interested in hearing from you. </p>
        <p> Need a Frontend developer? <b> Contact me </b></p>
    </div>
    <div class="right-side fontMontserrat">
        <form (ngSubmit)="onSubmit(f.value)">
            <input type="text" name="name" ngModel required>
            <input type="email" name="email" ngModel required>
            <button type="submit">Send</button>
       </form>
    </div>
</section>


<form action="https://formsubmit.co/Oliver.haerle@outlook.com" method="POST">
    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <button type="submit">Send</button>
</form>
