<section>


    <div class="description">
        <h2 class="fontBaloo"> Join </h2>
        <h3 class="fontMontserrat"> JavaScript | HTML | CSS </h3>
        <p class="fontMontserrat"> Task manager inspired by the Kanban system. Create and organize tasks using drag and
            drop, assigning users and categories</p>
        <div class="button-container">
            <a href="https://github.com/OliverHaerle/Pok-dex---final" target="_blank"><button> Github </button></a>
            <a href={{liveLink}} target="_blank"><button>Live test</button></a>
        </div>
        <div class="dot1"></div>
    </div>


    <a class="img-container" href={{liveLink}} target="_blank">
        <img src="../../assets/img/project-screenshots/join-template.png">
    </a>

</section>