<section>


    <div class="description">
        <h2 class="fontBaloo"> Join </h2>
        <h3 class="fontMontserrat"> JavaScript | HTML | CSS </h3>
        <p class="fontMontserrat"> Task manager inspired by the Kanban system. Create and organize tasks using drag and
            drop, assign users and categories</p>
        <div class="button-container">
            <a href="https://github.com/OliverHaerle/Pok-dex---final" target="_blank"><button> Github </button></a>
            <a href="https://oliver-haerle.developerakademie.net/Portfolio%20Projects/Pok%C3%A9dex%20-%20final/index.html"
                target="_blank"><button>Live test</button></a>
        </div>
    </div>


    <div class="img-container">
        <img src="../../assets/img/project-screenshots/laptop-template.png">
    </div>


</section>