<div class="big-red-dot"></div>

<section class="primary-color">

    <div class="profile-pic-container">
        <div class="profile-pic"> </div>
    </div>

    <div class="right-side">

        <div class="hello">
            <h2 class="fontMontserrat">Hi! I am Oliver</h2>
            <h1 class="fontBaloo"> FRONTEND </h1>
            <h1 class="fontBaloo"> DEVELOPER </h1>
        </div>

        <div class="scroll-and-icons">
            <div class="scroll">
                <span class="fontMontserrat scroll-text"> SCROLL</span>
                <div class="red-line"></div>
            </div>

            <div class="icons">
                <a href="#contact"><div><img class="icon" src="../../assets/img/icons/red/mail-red.svg" alt="email-link"></div></a>
                <a href="https://www.linkedin.com/in/oliver-h%C3%A4rle-3b182b295" target="_blank"><div><img class="icon" src="../../assets/img/icons/red/linkedin-red.svg" alt="linkedin-link"></div></a>
                <a href="https://github.com/OliverHaerle"><div><img class="icon" src="../../assets/img/icons/red/git-red.svg" alt="github-link"></div></a>
            </div>
        </div>

    </div>

</section>

<!-- <h3 #h3 (click)="dnone()">
    Info: Ich möchte gern einmal ein Zwischenfeedback haben. Mir fehlen zwar die: <br>
    - privacy policy <br>
    - Foto (Platzhalter ist der graue Kasten) <br>
    - einige der roten Deko-Punkte <br> <br>

    Ich hätte aber gern ein Zwischenfeedback dazu, unter anderem zu:
    
    - Passen die bisherigen roten Punkte? <br>
    - Passt das Kontaktformular inkl. Animation? <br>
    - Passen die Buttons? Ich habe das Mock-Up nicht ganz kopieren können. <br>
    - Passt die Responsivness?

    <br><br>

    Soll das Logo durch ein persönliches ersetzt werden? <br><br>

-> Zum Schließen auf das Feld drücken.
</h3> -->