$primary-color: #FF5959;
$ending-color-dot: #DE0000;
$ending-color-page: #FFEAEA;

.hello {
    display: flex;
    flex-direction: column;
    height: 50%;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

.dot-container {
    height: 100vh;
}

.big-red-dot {
    height: 900px;
    width: 900px;
    border-radius: 100%;
    background: linear-gradient(180deg, $primary-color, 50%, $ending-color-dot);
    position: absolute;
    top: -200px;
    left: -200px;
}

.profile-pic-container {
    height: 100%;
    width: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.profile-pic {
    height: 85%;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.51);
}

section {
    height: calc(100vh - 69px - 24px);
    display: flex;
    flex-direction: row;
    background: linear-gradient(white, $ending-color-page);
}

.right-side {
    width: 50%;
}

.scroll-and-icons {
    display: flex;
    height: 100%;
}

.scroll {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-text {
    font-size: 23px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 24px;
}

.red-line {
    width: 1px;
    height: 100%;
    background-color: $primary-color;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 13vh;

    div {
        width: 60px;
        height: 40px;
        transition: all 100ms ease-in-out;

        &:hover {
            transform: translate(-20px, 0);
            cursor: pointer;
        }
    }

    img {
        height: 40px;
    }
}

@media (max-width: 1450px) {
    .big-red-dot {
        height: 800px;
        width: 800px;
    }
}

@media (max-width: 1230px) {
    .big-red-dot {
        left: -250px;
    }

    .hello {
        padding-left: 50px;
    }

    h1 {
        font-size: 70px;
    }
}

@media (max-width: 1050px) {
    .big-red-dot {
        height: 700px;
        width: 700px;
    }

    .hello {
        padding-left: 30px;
    }
}

@media (max-width: 850px) {
    .big-red-dot {
        height: 730px;
        width: 730px;
        top: -30px;
        left: -200px;
    }

    section {
        flex-direction: column-reverse;
    }

    .hello {
        margin-top: 16px;
        color: rgb(255 255 255);
        position: absolute;
        width: 100vw;
        display: flex;
    }

    h1 {
        line-height: 1;
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    .scroll-and-icons {
        display: none;
    }

    .right-side {
        width: 0;
    }

    .profile-pic-container {
        width: 100vw;
        display: flex;
        justify-content: center;

        .profile-pic {
            height: 70%;
            width: 300px
        }
    }
}

@media (max-width: 530px) {
    .big-red-dot {
        height: calc(100vw + 180px);
        width: calc(100vw + 180px);
        top: -30px;
        left: -200px;
    }
}

@media (max-width: 380px) {
    .hello {
        padding-left: 10px;
        margin-top: 32px;
    }
    h1 {
        font-size: 50px;
    }
    h2{
        font-size: 25px;
    }
}